# Node artifact files
node_modules/
dist/
# Compiled Java class files
*.class
# Log files
*.log
# Package files
*.jar
# Maven
target/
dist/
mvnw*
.mvn
# Unit test reports
TEST*.xml
# MacOs thing
.DS_Store
# VS Code
.vscode
